/* kleine Anpassungen */
.container { max-width: 960px; }
.table .is-actions { width: 160px; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #f5f5f5;
  }

  .box {
    background-color: #1e1e1e;
    color: #f5f5f5;
  }

  .table {
    color: #f5f5f5;
  }

  .footer {
    background-color: #1e1e1e;
    color: #f5f5f5;
  }
}
